.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--gutter-xl) 0;
}

.spinner {
    border: var(--border-width-l) solid #efefef;
    border-radius: 50%;
    border-top: var(--border-width-l) solid var(--color-secondary);
    width: 7.5em;
    height: 7.5em;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}